---
const { title, description, keywords } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="description" content={description} />
  <meta name="keywords" content={keywords} />

  <title>{title}</title>

  <!-- Global CSS -->
  <link rel="stylesheet" href="/assets/css/style.css" />
</head>
<body>
  <slot />

  

  <!-- Global JS -->
  <script is:inline src="/assets/js/script.js"></script>
</body>
</html>